---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-busca-search
  annotations:
    secrets.infisical.com/auto-reload: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-busca-search
  template:
    metadata:
      labels:
        app: app-busca-search
    spec:
      containers:
        - name: app-busca-search
          image: ghcr.io/prefeitura-rio/app-busca-search:latest
          envFrom:
            - secretRef:
                name: busca-secrets
          env:
            - name: TRACING_ENABLED
              value: "true"
            - name: TRACING_ENDPOINT
              value: "signoz-otel-collector.signoz.svc.cluster.local:4317"
          livenessProbe:
            httpGet:
              path: /liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 2
          # resources:
          #   requests:
          #     cpu: 500m
          #     memory: 2Gi
          #   limits:
          #     cpu: 500m
          #     memory: 2Gi
      restartPolicy: Always

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: app-busca-search-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: app-busca-search

---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: app-busca-search-scaled-object
spec:
  scaleTargetRef:
    name: app-busca-search
  minReplicaCount: 1
  maxReplicaCount: 20
  cooldownPeriod: 30
  pollingInterval: 10
  fallback:
    failureThreshold: 3
    replicas: 1
  advanced:
    horizontalPodAutoscalerConfig:
      behavior:
        scaleUp:
          stabilizationWindowSeconds: 60
          policies:
            - type: Percent
              value: 100
              periodSeconds: 15
            - type: Pods
              value: 2
              periodSeconds: 15
          selectPolicy: Max
        scaleDown:
          stabilizationWindowSeconds: 300
          policies:
            - type: Percent
              value: 10
              periodSeconds: 60
            - type: Pods
              value: 1
              periodSeconds: 60
          selectPolicy: Max
  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://prometheus.istio-system.svc.cluster.local:9090
        metricName: http_requests_total
        threshold: "300"
        query: sum(rate(istio_requests_total{destination_workload="app-busca-search"}[30s]))
        activationThreshold: "150"

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: app-busca-search
  name: app-busca-search
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    app: app-busca-search
